doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
      link(rel="icon", type="image/png", sizes="32x32", href="img/favicon-32x32.png")
      link(rel="icon", type="image/png", sizes="96x96", href="img/favicon-96x96.png")
      link(rel="icon", type="image/png", sizes="16x16", href="img/favicon-16x16.png")
    block js
      script(src='/components/jquery/dist/jquery.min.js')
      script(src='/js/actions.js')
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    block content
  footer
    .box
      a(href="/?page=#{parseInt(page)-1}") Go back    
    .box
      p This is page #{page}
    .box
      a(href="/?page=#{parseInt(page)+1}") Next page
    .details
      p This site was made by me, Jon King, and features silly pictures hewn from the erratic genius that comes out of my flatmate's mouth. This site is not hosted on Tumblr or anything, I made it using Node, Express and MongoDB. If you want to make your own version, fork it here: 
        a(href="https://github.com/JonathanUsername/toms-thought-for-the-day") on the GitHubz.
